@{
    ViewBag.Title = "Input";
}

<script type="text/javascript">
    var required = '<span style="color:red;font-weight:bold" data-qtip="Required">*</span>';
    var myMask = new Ext.LoadMask(Ext.getBody(), {
        msg: "Please wait..."
    });

    Ext.require(['*']);


    Ext.onReady(function () {

        Ext.define('model', {
            extend: 'Ext.data.Model',
            fields: [
          { name: 'ID', type: 'string' },
          { name: 'company', type: 'string' },
          { name: 'time', type: 'string' },
          { name: 'money', type: 'string' },
          { name: 'orderuser', type: 'string' }

          ]
        });

        Ext.define('detail', {
            extend: 'Ext.data.Model',
            fields: [
          { name: 'ID', type: 'string' },
          { name: 'commonpaymentid', type: 'string' },
          { name: 'remark', type: 'string' },
          { name: 'type', type: 'string' },
          { name: 'money', type: 'string' },
          { name: 'other', type: 'string' }
          ]
        });


        var columns = [//配置表格列  

                {header: "所属公司", dataIndex: "company" },
                { header: "报销时间", dataIndex: "time" },

                { header: "金额", dataIndex: "money" }


                ];

        var detailcolumns = [//配置表格列  

                {header: "报销类型", dataIndex: "type" },
                { header: "摘要", dataIndex: "remark" },
                { header: "金额", dataIndex: "money" },
                { header: "备注", dataIndex: "other" }

                ];

        var gstore = Ext.create('Ext.data.Store', {
            model: 'model',
            pageSize: 5,
            proxy: {
                type: 'ajax',
                url: '/topmanager/GetCommonPayment',
                reader: {
                    type: 'json',
                    root: 'rows',
                    idProperty: 'ID',
                    totalProperty: 'total'
                }
            },

            autoLoad: true//自动加载  
        });

        var detailstore = Ext.create('Ext.data.Store', {
            model: 'detail',
            pageSize: 5,
            proxy: {
                type: 'ajax',
                url: '/manager/GetCommonPaymentDetail',
                reader: {
                    type: 'json',
                    root: 'rows',
                    idProperty: 'ID',
                    totalProperty: 'total'
                }
            },

            autoLoad: false//自动加载  
        });

        var grid = Ext.create('Ext.grid.Panel', {
            frame: true,
            forceFit: true,
            columnLines: true,
            title: "项目支出申请",
            store: gstore,
            selModel: Ext.create('Ext.selection.CheckboxModel'),
            renderTo: 'detail',
            dockedItems: [{
                xtype: 'pagingtoolbar',
                store: gstore, // same store GridPanel is  
                // using  
                dock: 'bottom',
                displayInfo: true
            }],
            tbar: [{
                xtype: 'button',
                text: '详细信息',
                handler: detail,
                 iconCls: "Applicationviewdetail"

            },
            {
                xtype: 'button',
                text: '审核通过',
                handler: checked,
                 iconCls:"Applicationadd"

            }],
            columns: columns
        });

        function detail() {
            var records = grid.getSelectionModel().getSelection();

            if (records.length == 1) {

                rec = grid.getSelectionModel().getSelection()[0];

                var commonpaymentid = rec.get("ID");

                detailstore.load({
                    params: { commonpaymentid: commonpaymentid }

                });

                var win = Ext.create('Ext.window.Window', {
                    title: '详细信息',
                    collapsible: true,
                    animCollapse: true,
                    maximizable: true,
                    width: 600,
                    height: 400,
                    minWidth: 300,
                    minHeight: 200,
                    autoScroll: true,
                    layout: 'fit',
                    items: [{
                        forceFit: true,
                        columnLines: true,
                        store: detailstore,
                        dockedItems: [{
                            xtype: 'pagingtoolbar',
                            store: detailstore, // same store GridPanel is  
                            // using  
                            dock: 'bottom',
                            displayInfo: true
                        }],
                        columns: detailcolumns,
                        xtype: 'grid'
                    }]
                });

                win.show();


            }
            else {
                showerrormsg("请选择一行数据");
            }
        }

        function checked() {

            var records = grid.getSelectionModel().getSelection();
            var ids = [];

            Ext.Array.each(records, function (rec) {
                //names.push(rec.get('text'));
                //将选中的节点的ID保存
                ids.push(rec.get('ID'));
            });
            var idsstr = ids.join(",");

            Ext.MessageBox.confirm("提示信息", "你确定审核通过吗？", function (btn) {
                if (btn == "yes") {
                    Ext.Ajax.request({
                        url: '/topmanager/CheckedCommonPayment',
                        Method: 'POST',
                        params: {
                            ids: idsstr

                        },
                        success: function (response) {
                            //var text = response.responseText;
                            // process server response here

                            showsucmsg(Ext.JSON.decode(response.responseText).Msg);
                            if (Ext.JSON.decode(response.responseText).Result) {
                                grid.store.load();
                            }
                        }
                    });
                }
            })
        }
    });

   


</script>
<div id="main">

</div>
<div id="detail">

</div>
