@{
    ViewBag.Title = "Input";
}

<script type="text/javascript">
    var required = '<span style="color:red;font-weight:bold" data-qtip="Required">*</span>';
    var myMask = new Ext.LoadMask(Ext.getBody(), {
        msg: "Please wait..."
    });

    Ext.require(['*']);

    Ext.define('order', {
        extend: 'Ext.data.Model',
        fields: [
          { name: 'ID', type: 'string' },
          { name: 'name', type: 'string' },
          { name: 'company', type: 'string' },
          { name: 'customername', type: 'string' },
          { name: 'orderno', type: 'string' },
          { name: 'money', type: 'string' },
          { name: 'customershortname', type: 'string' },
          { name: 'time', type: 'string' },
          { name: 'balance', type: 'string' },
          { name: 'balancereduce', type: 'string' },
          { name: 'balancereducereason', type: 'string' },
          { name: 'isht', type: 'string' },
          { name: 'iskp', type: 'string' },
          { name: 'other', type: 'string' },
          { name: 'remark', type: 'string' },
          { name: 'managercheck', type: 'string' },
          { name: 'cwcheck', type: 'string' },
          { name: 'zk', type: 'string' },
          { name: 'jsz', type: 'string' },
          { name: 'ml', type: 'string' },
          { name: 'lr', type: 'string' },
          { name: 'iszd', type: 'string' },
          { name: 'parentorderno', type: 'string' }
          ]
    });

    var companystore = new Ext.data.Store({

        fields: ['abbr', 'name'],
        data: [
                    { "abbr": "昆山易得", "name": "昆山易得" },
                    { "abbr": "苏州易开", "name": "苏州易开" },
                    { "abbr": "苏州海易", "name": "苏州海易" },
                    { "abbr": "苏州浦瑞道", "name": "苏州浦瑞道" },
                    { "abbr": "太仓易开", "name": "太仓易开" }

                ]
    });
    var ynstore = new Ext.data.Store({

        fields: ['abbr', 'name'],
        data: [
                    { "abbr": "1", "name": "是" },
                    { "abbr": "0", "name": "否" }


                ]
    });

    var customstore = new Ext.data.Store({
        fields: ['ID', 'name'],
        proxy: {
            type: 'ajax',
            url: '/manager/GetAllCustomers',
            reader: {
                type: 'json',
                root: 'rows',
                idProperty: 'ID',
                totalProperty: 'total'
            }
        },

        autoLoad: true//自动加载  
    });

    var projectstore = new Ext.data.Store({
        fields: ['ID', 'name'],
        proxy: {
            type: 'ajax',
            url: '/SystemManager/GetALLPushMoneySettings',
            reader: {
                type: 'json',
                root: 'rows',
                idProperty: 'ID',
                totalProperty: 'total'
            }
        },

        autoLoad: true//自动加载  
    });

    Ext.onReady(function () {


        var top = Ext.widget({
            xtype: 'form',
            id: 'multiColumnForm',
            collapsible: true,
            frame: true,
            title: '订单查询',
            bodyPadding: '5 5 0',
            renderTo: 'main',

            bodyBorder: 0,
            fieldDefaults: {
                labelWidth: 80
            },
            defaults: {
                margins: '0 0 10 0'
            },
            items: [{
                xtype: 'fieldcontainer',
                layout: 'hbox',
                defaultType: 'textfield',
                fieldDefaults: {
                    labelAlign: 'left'
                },
                defaults: {
                    type: 'vbox',
                    padding: '5',
                    align: 'left'
                },
                bodyPadding: '5 5 0',
                items: [{
                    flex: 1,
                    name: 'orderno',
                    fieldLabel: '订单编号'
                }, {

                    fieldLabel: '是否开票',
                    name: "iskp",
                    xtype: 'combo',
                    store: ynstore,
                    queryMode: 'local',
                    displayField: 'name',
                    valueField: 'abbr',
                    flex: 1,
                    value: "0",
                    forceSelection: true

                }, {

                    fieldLabel: '是否收款',
                    name: "issk",
                    xtype: 'combo',
                    store: ynstore,
                    queryMode: 'local',
                    displayField: 'name',
                    valueField: 'abbr',
                    flex: 1,
                    value: "0",
                    forceSelection: true

                }, {

                    fieldLabel: '项目名称',
                    name: "projectname",
                    xtype: 'combo',
                    store: projectstore,
                    queryMode: 'remote',
                    displayField: 'name',
                    valueField: 'name',
                    flex: 1,
                    autoSelect: true

                }, {
                    flex: 1,
                    name: 'company',
                    fieldLabel: '所属公司',
                    xtype: 'combo',
                    store: companystore,
                    queryMode: 'local',
                    displayField: 'name',
                    valueField: 'abbr',
                    flex: 1,
                    value: "昆山易得",
                    forceSelection: true

                }]

            }, {
                xtype: 'fieldcontainer',
                layout: 'hbox',
                defaultType: 'textfield',
                fieldDefaults: {
                    labelAlign: 'left'
                },
                defaults: {
                    type: 'vbox',
                    padding: '5',
                    align: 'left'
                },
                bodyPadding: '5 5 0',
                items: [{

                    fieldLabel: '客户简称（品牌）',
                    name: "customershortname",
                    labelWidth: 120,
                    xtype: 'combo',
                    store: customstore,
                    queryMode: 'remote',
                    displayField: 'name',
                    valueField: 'name',
                    flex: 1,
                    autoSelect: true

                }, {

                    name: 'startime',
                    fieldLabel: '开始时间',
                    xtype: "datefield",
                    flex: 1

                }, {

                    name: 'endtime',
                    fieldLabel: '结束时间',
                    xtype: "datefield",
                    flex: 1

                }]

            }],

            buttons: [{
                text: '查询',
                iconCls: "Cdgo",
                handler: function () {

                    var orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=orderno]');
                    orderno = orderFrom[0].getValue();
                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=iskp]');
                    iskp = orderFrom[0].getValue();
                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=issk]');
                    issk = orderFrom[0].getValue();

                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=projectname]');
                    projectname = orderFrom[0].getValue();
                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=company]');
                    company = orderFrom[0].getValue();

                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=customershortname]');
                    customershortname = orderFrom[0].getValue();
                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=startime]');
                    startime = orderFrom[0].getValue();
                    orderFrom = Ext.ComponentQuery.query('#multiColumnForm [name=endtime]');
                    endtime = orderFrom[0].getValue();


                    gstore.load({
                        params: { orderno: orderno, iskp: iskp, issk: issk, projectname: projectname, company: company, customershortname: customershortname, startime: startime, endtime: endtime }

                    });
                }
            }]
        });

        //        fields: ['ID', 'name','company','kpname','sh','address','tel','bank','account'],
        var columns = [//配置表格列  

                {header: "订单编号", dataIndex: "orderno" },
                { header: "客户名称", dataIndex: "customername" },
                { header: "客户名称（简称）", dataIndex: "customershortname" },
                { header: "项目名称", dataIndex: "name" },
                { header: "合同金额", dataIndex: "money" },
                { header: "业务费", dataIndex: "balance" },
                { header: "调整/折扣", dataIndex: "balancereduce" },
                { header: "净业绩", dataIndex: "jsz" },
                { header: "应收账款", dataIndex: "account" }

                ];

        var detailcolumns = [//配置表格列  

                {header: "开票日期", dataIndex: "Createtime" },
                { header: "开票金额", dataIndex: "money" },
                { header: "发票号码", dataIndex: "kptt" },
                { header: "开票差额", dataIndex: "bcmoney" }

                ];

        var gstore = Ext.create('Ext.data.Store', {
            model: 'order',
            pageSize: 5,
            proxy: {
                type: 'ajax',
                url: '/order/OrderSearch',
                reader: {
                    type: 'json',
                    root: 'rows',
                    idProperty: 'ID',
                    totalProperty: 'total'
                }
            },

            autoLoad: false//自动加载  
        });

        var grid = Ext.create('Ext.grid.Panel', {
            frame: true,
            forceFit: true,
            columnLines: true,
            title: "订单信息",
            store: gstore,
            selModel: Ext.create('Ext.selection.CheckboxModel'),
            renderTo: 'detail',
            dockedItems: [{
                xtype: 'pagingtoolbar',
                store: gstore, // same store GridPanel is  
                // using  
                dock: 'bottom',
                displayInfo: true
            }],
            tbar: [{
                xtype: 'button',
                text: '开票信息',
                handler: kpdetail,
                 iconCls: "Applicationviewdetail"

            }],
            columns: columns
        });

        function kpdetail() {
            var records = grid.getSelectionModel().getSelection();

            if (records.length == 1) {

                Ext.define('kpdetail', {
                    extend: 'Ext.data.Model',
                    fields: [
                      { name: 'ID', type: 'string' },
                      { name: 'orderid', type: 'string' },
                      { name: 'kptt', type: 'string' },
                      { name: 'type', type: 'string' },
                      { name: 'project', type: 'string' },
                      { name: 'money', type: 'string' },
                      { name: 'bcmoney', type: 'string' },
                      { name: 'company', type: 'string' },
                      { name: 'bjsj', type: 'string' },
                      { name: 'remark', type: 'string' },
                      { name: 'other', type: 'string' },
                      { name: 'Createtime', type: 'string' }

                      ]
                });

                rec = grid.getSelectionModel().getSelection()[0];

                var orderno = rec.get("orderno");

                var kpstore = new Ext.data.Store({
                    model: 'kpdetail',
                    pageSize: 5,
                    proxy: {
                        type: 'ajax',
                        url: '/order/GetKpDetail',
                        reader: {
                            type: 'json',
                            root: 'rows',
                            idProperty: 'ID',
                            totalProperty: 'total'
                        }
                    },

                    autoLoad: false//自动加载  
                });

                kpstore.load({
                    params: { orderno: orderno }

                });

                var win = Ext.create('Ext.window.Window', {
                    title: '开票详细信息',
                    collapsible: true,
                    animCollapse: true,
                    maximizable: true,
                    width: 600,
                    height: 400,
                    minWidth: 300,
                    minHeight: 200,
                    autoScroll: true,
                    layout: 'fit',
                    items: [{
                        forceFit: true,
                        columnLines: true,
                        store: kpstore,
                        dockedItems: [{
                            xtype: 'pagingtoolbar',
                            store: kpstore, // same store GridPanel is  
                            // using  
                            dock: 'bottom',
                            displayInfo: true
                        }],
                        columns: detailcolumns,
                        xtype: 'grid'
                    }]
                });

                win.show();


            }
            else {
                showerrormsg("请选择一行数据");
            }
        }
    });
   


</script>
<div id="main">

</div>
<div id="detail">

</div>
